#jumbotron {
    background-color: #343a40;
}

#weatherDashboard {
    color: white;
    font-weight: 450;
    text-align: center;
}

#searchLabel {
    font-weight: bold;
    font-size: 20px;
    color: #343a40;
}

.leftCard {
    background-color: #f8f9fa;
}

#searchBtn {
    background-color: #007bff;
}

.fa-search {
    color: white;
}

.cities {
    background-color: white;
    color: grey;
    font-size: 18px;
    border-color: #f8f9fa;
    text-align: left;
    width: 200px;
    height: 50px;
}

#currentCity {
    padding-left: 25px;
}

.box {
    width: 50px;
    height: 100%;
    padding: 5px;
}

#uvIndexLow {
    background-color: green;
    color: white;
}

#uvIndexModerate {
    background-color: yellow;
    color: black;
}

#uvIndexHigh {
    background-color: orange;
    color: black;
}

#uvIndexVeryHigh {
    background-color: red;
    color: white;
}

#uvIndexExtreme {
    background-color: violet;
    color: white;
}

.forecast {
    width: 18.5%;
    padding: 12px;
    margin: 5px;
    background-color: blue;
    color: white;
}
